.restaurants_list {
  padding-top: 150px;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
